<form [formGroup]="form">
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input type="password" name="oldPassword" formControlName="oldPassword" class="form-control" required>
    <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
      <div *ngIf="oldPassword.errors?.['required']">Old Password is Required</div>
      <div *ngIf="oldPassword.errors?.['oldPassword']">Old Password is InCorrect</div>
    </div>
  </div>
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input type="password" formControlName="newPassword" class="form-control" name="newPassword" required>
    <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
      <div *ngIf="newPassword.errors?.['required']">New Password is Required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" formControlName="confirmPassword" class="form-control" name="confirmPassword" required>
    <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
      <div *ngIf="confirmPassword.errors?.['required']">Confirm Password is Required</div>
    </div>
    <div *ngIf="confirmPassword.valid && form.invalid && form.errors?.['passwordShouldBeMatch']" class="alert alert-danger">
      Password do not Match
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Save</button>
  </div>
</form>
