<navbar></navbar>
<router-outlet>
</router-outlet>
<!-- <div *ngIf="courses.length > 0;then coursesList else noCourses"></div>
<ng-template #coursesList> List of Courses</ng-template>
<ng-template #noCourses> No Courses yet</ng-template>

<ul class="nav nav-pills">
  <li [class.active]="modeView == 'map'">
    <a (click)="modeView = 'map'">Map View</a>
  </li>
  <li [class.active]="modeView == 'list'">
    <a (click)="modeView = 'list'">List View</a>
  </li>
</ul>
<div [ngSwitch]="modeView">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>

<hr/>
<input type="text" [appInputFormat]="'upperCase'">

<hr style="font-size: 20px" /> -->



<!-- <app-svg [isActive]="tweet.isActive" [likesCount]="tweet.likesCount">
</app-svg> -->






<!-- <app-courses [isClicked]="post.isClicked" (change)="onChangeCourse($event)"></app-courses> -->




<!-- <button (click)="refresh()"> Refresh</button>

<ul>
    <li *ngFor="let student of students; let i = index; trackBy:track">
        {{student.id}} - {{student.name}} -- {{i}}
    </li>
</ul>

<div *ngFor="let color of colors;let i= index">
    <label for="color_{{i}}">{{color}}</label>
    <input type="radio" id="color_{{i}}" [value]="color" [(ngModel)]="selectedColor" />

</div>
<div [ngSwitch]="selectedColor">
    <p *ngSwitchCase="'red'">You are in Red Color</p>
    <p *ngSwitchCase="'blue'">You are in blue Color</p>
    <p *ngSwitchCase="'green'">You are in green Color</p>
    <p *ngSwitchDefault>You have choosing nothing </p>
</div>

<input type="text" #phone/> -->
